body{
    text-align: center;
    background-color:rgb(141, 226, 119)
}
h1{
    font-size: xx-large;
    font-style: italic;
    color: darkblue;
}
h3{
    font-size: x-large;
    color: darkorange;
    font-style: italic;
}
.Bolsonaro1{
    width: 25%;
}
.JAIR{
    width: 25%;
}
.A
h2{
    font-size: xx-large;
    color: darkorange;
    font-style: italic;
}