body{
    text-align: center;
    background-color:rgb(141, 226, 119)
}
h1{
    font-size: xx-large;
    color: darkblue;
}
h3{
    font-size: large;
    color: darkorange;
}
h2{
    font-size: x-large;
    color: rgb(0, 71, 10);
}
.sun{
    width: 25%;
}